<div class="content_work">

    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div>
                    <h3 class="course_heading">What are Digital Technologies in Education?
                    </h3>
                    <p>
                        It allows immersive simulations (for example, role-playing, augmented reality, and virtual
                        reality) where students enter experiences from authentic situations, and that constitute, in
                        doing so, another perspective of structuring in pedagogy.


                    </p>
                </div>
                <div>
                    <h3 class="course_heading">Competences to be acquired </h3>
                    <p>This program offers a comprehensive curriculum for the professional development of educators of
                        all levels who wish to design and apply technology in their own learning environments more
                        effectively. Contents focus on constructive learning, curriculum development, integration and
                        use of software and websites, application and design of digital instructional materials and the
                        psychology of the classroom and the adaptation of technologies.


                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 mb10">
                <div class="bir_about roundblock">
                    <p>
                        <strong>
                            Why study Digital Technologies in Education?
                        </strong>
                    </p>
                    <p>
                        This program is of high value for all professionals in the educational field, who, in addition
                        to learning to use the most up-to-date and advanced technological tools, will be able to deepen
                        their applied knowledge through the publication of their academic articles in Academic Networks,
                        Scientific Journals and International Technological Platforms. The program will develop
                        teachers’ abilities to design their own educational materials using digital technologies and
                        develop creative and innovative approaches to their work, as well as master the use of digital
                        technologies to enhance practice, research, and professional and academic development.


                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 mb10">
                <div class="bir_about roundblock">
                    <p>
                        <strong>
                            What do I need to study Digital Technologies in Education?

                        </strong>
                    </p>
                    <p>
                        To study for a Master in Digital Technologies in Education, you need to have finished bachelor’s
                        degree.


                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="content_work">

        <div class="container">
            <div class="row">
                <div class="col-md-10 col-sm-12">
                    <div>
                        <h3 class="course_heading">Possible jobs </h3>
                        <p>
                            In educational institutions as teachers, administrators or academic coordinators.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gray_clor">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="">Core courses</h2>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>Introduction to Computers in Education</li>
                        <li>Introduction to Knowledge Building</li>
                        <li>Computers in the Curriculum</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul>
                        <li>Constructive Learning and Design of Online Environment</li>
                        <li>Knowledge Media and Learning</li>
                        <li>Instructional Design: Beyond the Lecture</li>
                        <li>21st Century Competencies, Multiliteracies, and As</li>
                        <li>Technology, the Environment and Education</li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="gray_clor">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="">Concentration Courses                    </h2>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>Technology@Work: The Internet in Workplace Learning</li>
                        <li>Integrating Technology into the Classroom: Issues</li>
                        <li>Technology, Language and Literacy</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>Technology, Psychology and Play</li>
                        <li>Technology and Education</li>

                    </ul>
                </div>
            </div>
        </div>
    </div>


</div>