<div class="content_work">

    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div>
                    <h3 class="course_heading">What is Business Administration? </h3>
                    <p>
                        Business administration oversees the general operations of an organization or department. This
                        may include teams support and supervision, problem solving, developing and implementing plans,
                        and
                        meeting
                        goals.
                    </p>
                </div>
                <div>
                    <h3 class="course_heading">Competences to be acquired</h3>
                    <p>Students learn to perform accounting functions, record and verify transactions, prepare payroll,
                        monitor
                        inventories, prepare financial statements, and analyze financial information. Emphasis is placed
                        on both
                        manual and computer-based accounting programs to learn accounting data processing.</p>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 mb10">
                <div class="bir_about roundblock">
                    <p>
                        <strong>
                            Why study Business Administration?

                        </strong>
                    </p>
                    <p>
                        On-the-job training and instruction is provided to meet the challenges of this rewarding
                        position.


                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 mb10">
                <div class="bir_about roundblock">
                    <p>
                        <strong>
                            What do I need to study Business Administration?

                        </strong>
                    </p>
                    <p>
                        To study for a Associate in Business Administration, you need to have finished high school.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="content_work">

        <div class="container">
            <div class="row">
                <div class="col-md-10 col-sm-12">
                    <div>
                        <h3 class="course_heading">Possible jobs </h3>
                        <p>
                            In companies in the areas of administration and sales, as a business advisor, financial
                            analyst, market research analyst, human resources specialist, marketing administrator,
                            logistics manager, entrepreneurship manager, etc.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gray_clor">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="">Courses</h2>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>English Composition I </li>
                        <li>History of Art </li>
                        <li>College Algebra </li>
                        <li>General Biology </li>
                        <li>Western Civilizations </li>
                        <li>English Composition II </li>
                        <li>Introduction to statistics </li>
                        <li>Environmental Science </li>
                        <li>Equality & Inequality </li>
                        <li>Ethics </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul>
                        <li>Principles of Accounting </li>
                        <li>Principles of Accounting Lab (Pre-req: ACC101) </li>
                        <li>Social Responsibility </li>
                        <li>Principles of Business Management </li>
                        <li>Principles of Marketing </li>
                        <li>Spreadsheet Application </li>
                        <li>8-8 Business Communications </li>
                        <li>Statistics (Pre-req: MAT104) </li>
                        <li>Introduction to Managing Conflict and Bargaining </li>
                        <li>Introduction to Lean Start Up </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



</div>