<div class="content_work">

    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div>
                    <h3 class="course_heading">What is Business Administration?
                    </h3>
                    <p>
                        Business administration oversees the general operations of an organization or department. This
                        may include teams support and supervision, problem solving, developing and implementing plans,
                        and meeting goals.


                    </p>
                </div>
                <div>
                    <h3 class="course_heading">Competences to be acquired </h3>
                    <p>
                        This program is structured to train experts with the knowledge, skills and abilities in the
                        creation and efficient management of public and private organizations. Participants will have an
                        entrepreneurial and innovative vision with ethical and socially responsible leadership, capable
                        of satisfying all the needs of organizations, efficiently using the most sophisticated tools and
                        techniques.


                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 mb10">
                <div class="bir_about roundblock">
                    <p>
                        <strong>
                            Why study Business Administration?

                        </strong>
                    </p>
                    <p>
                        This program offers a good understanding of basic economic principles, how markets are affected
                        by world events, and how to assess the financial health of a company. This can help in making
                        better informed investment decisions.

                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 mb10">
                <div class="bir_about roundblock">
                    <p>
                        <strong>
                            What do I need to study Business Administration?

                        </strong>
                    </p>
                    <p>
                        To study for a Master in Business Administration, you need to have finished a bachelor’s degree.


                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="content_work">

        <div class="container">
            <div class="row">
                <div class="col-md-10 col-sm-12">
                    <div>
                        <h3 class="course_heading">Possible jobs </h3>
                        <p>
                            In companies in the areas of administration and sales, as a business advisor, financial
                            analyst, market research analyst, human resources specialist, marketing administrator,
                            logistics manager, entrepreneurship manager, etc.


                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gray_clor">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="">Core Courses</h2>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>Fundamental theory of organization </li>
                        <li>Quantitative Methods for Business </li>
                        <li>Marketing management </li>
                        <li>Project evaluation and risk analysis </li>

                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>Accounting Management </li>
                        <li>Finance management I </li>
                        <li>Strategic management of human talent </li>
                        <li>Transformational leadership </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="gray_clor">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="">Concentration Courses                    </h2>
                </div>
                <div class="col-md-6">
                    <ul>



                        <li>Policy and strategy in global competition </li>
                        <li>Finance Management II </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>Management and organizations
                        </li>
                        <li>
                            Professional Ethics

                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>


</div>