<div class="content_work">

    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div>
                    <h3 class="course_heading">What is Business Administration?
                    </h3>
                    <p>
                        Business administration oversees the general operations of an organization or department. This
                        may include teams support and supervision, problem solving, developing and implementing plans,
                        and meeting goals.


                    </p>
                </div>
                <div>
                    <h3 class="course_heading">What are Management Information Systems?</h3>
                    <p>
                        It is an integrated system that provides information in order to support the planning, control
                        and operations of an organization in order to develop useful information in administration.


                    </p>
                </div>
                <div>
                    <h3 class="course_heading">Competences to be acquired </h3>
                    <p>
                        This program is focused and designed for graduates to implement the best practices in
                        cybersecurity of data and databases, keeping company information and files safe.

                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 mb10">
                <div class="bir_about roundblock">
                    <p>
                        <strong>
                            Why study Business Administration with a Minor in Management Information Systems?
                        </strong>
                    </p>
                    <p>
                        Students learn to implement efficient risk management, as well as an in-depth analysis of the
                        organization’s file management systems.


                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 mb10">
                <div class="bir_about roundblock">
                    <p>
                        <strong>
                            What do I need to study Business Administration with a Minor in Management Information
                            Systems?

                        </strong>
                    </p>
                    <p>
                        To study for a Bachelor in Business Administration with a Minor in Management Information
                        Systems you need to have finished high school.


                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="content_work">

        <div class="container">
            <div class="row">
                <div class="col-md-10 col-sm-12">
                    <div>
                        <h3 class="course_heading">Possible jobs </h3>
                        <p>
                            In companies in the areas of administration and sales, as a business advisor, financial
                            analyst, market research analyst, human resources specialist, marketing administrator,
                            logistics manager, entrepreneurship manager, etc.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gray_clor">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="">General Education Requirements
                    </h2>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>Introduction to Calculus </li>
                        <li>Introduction to statistics </li>
                        <li>History of Art </li>
                        <li>English Composition </li>
                        <li>Intercultural Communication </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul>
                        <li>Oral and written communications abilities </li>
                        <li>General Biology </li>
                        <li>Western Civilizations </li>
                        <li>Equality & Inequality </li>
                        <li>Environmental Sciences </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="gray_clor">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="">General Education Requirements </h2>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>Introduction to Information Systems </li>
                        <li>Statistics for Business and Economics </li>
                        <li>Business Innovation Management </li>
                        <li>Business Process Analysis </li>
                        <li>Integrated business applications </li>
                        <li>Analysis and design of systems </li>
                        <li>Management of relational databases </li>
                        <li>Business Data Management </li>
                        <li>Management support systems </li>
                        <li>Project management </li>
                        <li>Organization and management </li>
                        <li>Operation management </li>
                        <li>Strategic Management </li>
                        <li>Professional ethics </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>Design and innovation of digital business </li>
                        <li>Accounting for planning and control </li>
                        <li>Introduction to Information Technology </li>
                        <li>Legal environment of Business </li>
                        <li>Computational mathematics </li>
                        <li>IT Engineering </li>
                        <li>Cost analysis and applications </li>
                        <li>Discrete mathematics </li>
                        <li>Management information security </li>
                        <li>Financial markets </li>
                        <li>Foreign trade </li>
                        <li>Investments </li>
                        <li>International organizations </li>
                        <li>Principles of Marketing </li>
                        <li>Marketing communications </li>
                        <li>Marketing and Society </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</div>