<div class="content_work">

    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div>
                    <h3 class="course_heading">What is Health Services Administration?
                    </h3>
                    <p>
                        Health Services Administration is the planning, direction and coordination of medical and health
                        services. Healthcare administrators may manage an entire facility, a specific clinical area or
                        department, or a medical practice for a group of physicians.

                    </p>
                </div>
                <div>
                    <h3 class="course_heading">Competences to be acquired </h3>
                    <p>
                        Graduates of this program will apply key disciplinary competencies in the management of Health
                        Services as professionals in the key scenarios of this area, obtaining a high command of the
                        necessary tools for its efficient management: health information systems, health legislation,
                        administration, accounting, finance, and marketing focused on the fields of Health.


                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 mb10">
                <div class="bir_about roundblock">
                    <p>
                        <strong>
                            Why study Health Services Administration?

                        </strong>
                    </p>
                    <p>
                        The Bachelor of Science in Health Services Administration program provides students with a broad
                        view of today’s health care system. The program provides the professional skills necessary for
                        administrative positions throughout the health care industry. In addition, the program prepares
                        its graduates for admission to postgraduate study in the health care system.


                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 mb10">
                <div class="bir_about roundblock">
                    <p>
                        <strong>
                            What do I need to study Health Services Administration?

                        </strong>
                    </p>
                    <p>
                        To study for a degree in Health Services Administration, you need to have finished high school.


                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="content_work">

        <div class="container">
            <div class="row">
                <div class="col-md-10 col-sm-12">
                    <div>
                        <h3 class="course_heading">Possible jobs </h3>
                        <p>
                            This program prepares students to work in hospitals, health agencies, managed care
                            organizations, medical office management, health insurance companies, nursing homes,
                            residential facilities, etc.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gray_clor">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="">Professional Courses</h2>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>Introduction to Calculus </li>
                        <li>Introduction to statistics </li>
                        <li>History of Art </li>
                        <li>English Composition </li>
                        <li>Intercultural Communication </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>Oral and written communications abilities </li>
                        <li>General Biology </li>
                        <li>Western Civilizations </li>
                        <li>Equality & Inequality </li>
                        <li>Environmental Sciences </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="gray_clor">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="">General Education Requirements </h2>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>Principles of Business Management </li>
                        <li>Principles of Accounting I </li>
                        <li>Principles of Accounting I Lab </li>
                        <li>Introduction to Health Care </li>
                        <li>Medical Terminology </li>
                        <li>Operation Management </li>
                        <li>Medical Office Management </li>
                        <li>Medical Office Procedures </li>
                        <li>Medical Insurance Coding & Billing </li>
                        <li>Managerial Accounting </li>
                        <li>Introduction to Health Services Administration </li>
                        <li>Introduction to Medical Informatics </li>
                        <li>Financial Issues in Health Care </li>
                        <li>Ethics in Health Care </li>
                        <li>Community Health and Epidemiology </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>Health Care Marketing </li>
                        <li>Business Communication </li>
                        <li>Cultural Diversity in Health Care </li>
                        <li>Risk Management </li>
                        <li>Organizational Behavior </li>
                        <li>Human Resources Management </li>
                        <li>Health Care Law </li>
                        <li>Long Term Care Administration </li>
                        <li>Health Service Administration </li>
                        <li>Health Information System </li>
                        <li>Ethics of Caring for the Elderly </li>
                        <li>Supervisory Skills </li>
                        <li>Entrepreneurship </li>
                        <li>Negotiation and Conflict Resolution </li>
                        <li>Legal Aspect & Legislation in Healthcare </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</div>