<div class="content_work">

    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div>
                    <h3 class="course_heading">What is Marketing and Sales?
                    </h3>
                    <p>
                        Marketing refers to the set of activities to promote a product or service, according to the
                        needs and expectations of the client. Sales, on the other hand, are the actions to encourage
                        customers to make a certain purchase.


                    </p>
                </div>
                <div>
                    <h3 class="course_heading">Competences to be acquired</h3>
                    <p>
                        Graduates of this program will apply key disciplinary skills as business professionals to
                        critical business problems in finance, marketing, information systems, research methodologies,
                        economics, business law, management, and accounting.


                    </p>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 mb10">
                <div class="bir_about roundblock">
                    <p>
                        <strong>
                            Why study Marketing and Sales?

                        </strong>
                    </p>
                    <p>
                        Marketing studies provide a unique competitive advantage: learning to promote yourself and your
                        work. After all, marketing studies help to understand the true meaning of value: the value of
                        the product and the value of the person or brand that delivers that product.


                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 mb10">
                <div class="bir_about roundblock">
                    <p>
                        <strong>
                            What do I need to study Marketing and Sales?

                        </strong>
                    </p>
                    <p>
                        To study for a degree in Marketing and Sales, you need to have finished high school.


                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="content_work">

        <div class="container">
            <div class="row">
                <div class="col-md-10 col-sm-12">
                    <div>
                        <h3 class="course_heading">Possible jobs </h3>
                        <p>
                            : In marketing agencies, public relations agencies, advertising agencies, market research
                            areas or teams, or big data departments, etc.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gray_clor">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="">Professional Courses</h2>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>Introduction to Calculus </li>
                        <li>Introduction to statistics </li>
                        <li>History of Art </li>
                        <li>English Composition </li>
                        <li>Intercultural Communication </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul>
                        <li>Oral and written communications abilities </li>
                        <li>General Biology </li>
                        <li>Western Civilizations </li>
                        <li>Equality & Inequality </li>
                        <li>Environmental Sciences </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="gray_clor">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="">General Education Requirements </h2>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>Principles of Accounting I </li>
                        <li>Principles of Accounting I Lab </li>
                        <li>Principles of Microeconomics </li>
                        <li>Legal environment of Business </li>
                        <li>Principles of Business Management </li>
                        <li>Principles of Marketing </li>
                        <li>Product and Pricing Strategies </li>
                        <li>International Marketing </li>
                        <li>Sales, Advertising and Promotions </li>
                        <li>Consumer Behavior </li>
                        <li>Marketing Analytics </li>
                        <li>Digital Marketing </li>
                        <li>Introduction to Lean Start Up </li>
                        <li>Business Communication </li>
                        <li>Social Responsibility </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>Introduction to Managing Conflict and Bargaining </li>
                        <li>Foreign trade </li>
                        <li>Entrepreneurships </li>
                        <li>Management support systems </li>
                        <li>Project management </li>
                        <li>Organization and management </li>
                        <li>Operation Management </li>
                        <li>Professional ethics </li>
                        <li>Computational mathematics </li>
                        <li>Strategic management </li>
                        <li>International organizations </li>
                        <li>Marketing communications </li>
                        <li>Social Media Marketing </li>
                        <li>Marketing and Society </li>
                        <li>Cost analysis and applications </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</div>