<div class="content_work">

    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div>
                    <h3 class="course_heading">What is Business Administration?
                    </h3>
                    <p>
                        Business administration oversees the general operations of an organization or department. This
                        may include teams support and supervision, problem solving, developing and implementing plans,
                        and meeting goals.


                    </p>
                </div>
                <div>
                    <h3 class="course_heading">What is Human Resource Management?
                    </h3>
                    <p>
                        It is the set of practices, policies and decisions that is responsible for working for the
                        well-being of people within the organization, maintaining the focus on business development.


                    </p>
                </div>
                <div>
                    <h3 class="course_heading">Competences to be acquired </h3>
                    <p>
                        The program focuses on integrated learning experiences in which students develop problem-solving
                        and team-building skills. The program is designed for students who want a broad understanding of
                        business operations with an intense focus on the area of Human Resource Management.


                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 mb10">
                <div class="bir_about roundblock">
                    <p>
                        <strong>
                            Why study Business Administration in Human Resource Management?
                        </strong>
                    </p>
                    <p>
                        This program provides a professional identity locally and internationally thanks to our faculty
                        members, all of them recognized experts in the specific application of knowledge and
                        technological tools within their fields of work. The targeted study will equip students with the
                        most sought-after skills required to succeed in Human Resources while completing the strategic
                        circle through organizational management courses.


                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 mb10">
                <div class="bir_about roundblock">
                    <p>
                        <strong>
                            What do I need to study Business Administration in Human Resource Management?

                        </strong>
                    </p>
                    <p>

                        To study for a Master in Business Administration in Human Resource Management, you need to have
                        finished a bachelor’s degree.


                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="content_work">

        <div class="container">
            <div class="row">
                <div class="col-md-10 col-sm-12">
                    <div>
                        <h3 class="course_heading">Possible jobs </h3>
                        <p>
                            They can work in companies in the areas of administration or as a specialist in human
                            resources, human talent manager, rewards or professional development.


                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gray_clor">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="">core Courses</h2>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>Fundamental theory of organization </li>
                        <li>Quantitative Methods for Business </li>
                        <li>Marketing management </li>
                        <li>Project evaluation and risk analysis </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>Accounting Management </li>
                        <li>Finance management I </li>
                        <li>Strategic management of human talent </li>
                        <li>Transformational leadership </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="gray_clor">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="">General Education Requirements </h2>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>Managing Human Resources </li>
                        <li>Human Resource Development </li>

                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>Talent Management </li>
                        <li>Managing Total Rewards </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>


</div>