<div class="nav_bar_area">

    <!-- <button class="top-btn-container"> <i class="fa-solid fa-bars first-menubar"></i> </button> -->


    <div class="header_cc_area"
        style="background-image:url('images/header_area.jpg')">
        <div class="container">
            <div class="row">
                <h1>About Us</h1>
                <p>Home / About Us</p>
            </div>
        </div>
    </div>
    <div class="uni_mainWrapper">
        <!--<div class="Wrapper_box">-->
        <div class="content_work">
            <div class="bir_about">
                <div class="container">
                    <div class="row">
                        <p>
                            <span class="bir_orange">Bir Tikendrajit University</span> is a new age university driving
                            individual empowerment and social progress through blended learning.

                            We believe in providing education that cultivates creative understanding, enables diverse,
                            talented, hardworking graduates to pursue disruptive thinking leading to productivity, to
                            enjoy the pleasures of lifelong learning, and to reap the satisfactions of aiding
                            communities around us.

                            At BTU, we intend to attract & serve students from diverse social, economic and ethnic
                            backgrounds and to be sensitive and responsive to those who have been underserved by higher
                            education.

                            The great philosopher Sri Vivekananda said that if students cannot reach the door of
                            education, education will reach at the door of the students no matter where they live.

                            In the long term, Bir Tikendrajit University aims at becoming a global institution through
                            innovative programs linking humanities, arts, social sciences, pure sciences and health
                            sciences, which will empower our students and faculty to collectively contribute to the
                            world.
                        </p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">


                    <div class="col-md-6 class_center">
                        <img
                            src="images/target.png">
                        <h2 class="">Vision</h2>
                        <p>
                            To become a globally known education institution responsive to the dynamic world around us
                            by grooming students to pursue lifelong learning, empowering them to meet & exceed
                            challenges through active participation in shaping the future.
                        </p>

                    </div>
                    <div class="col-md-6 class_center">
                        <img
                            src="images/mission.png">
                        <h2 class="">Mission</h2>
                        <p>
                            Our mission is to provide high quality & accessible education through blended learning
                            processes, qualitative & influential research, creative endeavours and scholarly experiences
                            enabling our students to contribute locally and globally to knowledge, innovation and
                            creativity.
                        </p>
                    </div>
                </div>
            </div>
            <div class="gray_clor">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="">Values</h2>
                            <p>
                                <b>1. Respect for Knowledge & Integrity -</b> Respecting expertise and knowledge for its
                                own sake and behaving ethically in all interactions at all levels.
                            </p>
                            <p>
                                <b>2. Creativity & Innovation -</b> The core intellectual aim of our university
                                education is to foster creativity & innovation in the students and faculty, calling for
                                a greater integration of knowledge among all domains.
                            </p>
                            <p>
                                <b>3. Merit & Inclusiveness -</b> within the given policy framework of education, all
                                the students, irrespective of descent and prospects, are on a completely equal footing.
                                We are open to everyone and include everyone who shares our quest for knowledge and
                                commitment to pursuing truth, creativity and innovation, and the other virtues of higher
                                education.
                            </p>
                            <p>
                                <b>4. Freedom to Ideate –</b> We are a space in which people associated with us are free
                                to pursue all ideas without any discrimination. We are a centre of independent thought.
                            </p>
                            <p>
                                <b>5. Lifelong Learning & Excellence - </b>Encouraging enthusiastic, independent
                                thinkers and learners striving for personal growth while maintaining high levels of
                                performance leading to the achievement of academic and career goals.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="campus_image">
                            <img class="img-responsive"
                                src="images/campus.jpg" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2 class="">Who We Are ?</h2>
                        <p>Bir Tikendarjit University, Manipur is established by the Manipur Government as an Act No. 9
                            of 2020 and under u/s 2(f) of UGC act 1956. </p>
                        <p>With a view to keep pace with the rapid development in all spheres of Knowledge in the world
                            and the country, it is essential to create world level modern research and study facilities
                            in the State to provide state of the art educational facilities to the youth at their
                            doorstep so that they can make out of the human resources compatible with liberalised
                            economics and social order of the World.</p>
                        <p>And rapid advancement of knowledge and changing requirements of human resources make it
                            essential that a resourceful, quick and responsive system of educational research and
                            development be created which can work with entrepreneurial zeal under an essential
                            regulatory set up and such a system can be created by allowing private Institutions engaged
                            in higher education having sufficient resources and experiences to establish Bir Tikendrajit
                            University.</p>
                        <p>We bring differentiation to our students through blended curriculum, emphasizing industry
                            connect through our Corporate Resource Center (CRC). We believe in overall grooming of our
                            students through enhanced practical and industry exposure. Some of our unique grooming
                            advantages are as below
                            COURSES, ADMISSIONS & SCHOLARSHIPS
                            Our passion is listening to student issues/ ideas, thinking through solutions and coming up
                            with creative solution. Most importantly, we keep it simple.
                        </p>
                    </div>
                </div>
            </div>


        </div>
        <div class="about_obej">
            <div class="container">
                <div class="col-lg-6 col-md-6 col-sm-6 aim_area">
                    <h2>Aim and Objectives</h2>
                    <p>
                        The University has established with the Object of “
                        University will teach job oriented courses and small scale industry based courses so that the
                        youth will become independent and self-employed too. </p>
                    <p>We will start courses in airplane, helicopter maintenance, repairing, and skill development &
                        vocational courses in various fields as it is the dream of our present Prime Minister too. </p>
                    We will have industry relations & placement department for the help of students in their career.
                    </p>
                    <p>We have long term strategy and vision for the Students community in future. </br>
                        The great philosopher Sri Vivekananda said that if students cannot reach the door of education,
                        Education will reach at the door of the students no matter where they live, following this
                        principle we have decided to reach to the rural.</p>

                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <img src="images/aim.jpg"
                        class="img-responsive">
                </div>

            </div>
        </div>
        <div class="clearfix"></div>


    </div>

    <section class="fixed-div">
    </section>

   


    <div class="clearfix"></div>

</div>


