<div class="header_cc_area" style="background-image:url('images/header_area.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1>Contact Us</h1>
                <p>Home / Contact Us</p>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="uni_mainWrapper uni_contact" style="min-height:500px;">

    <div class="container">

        <div class="row">

            <div class="contact-service">

                <div class="col-lg-6 col-md-6 col-xs-12 ">

                    <div class="contact_area">

                        <h4><span>Talk To Us Today</span></h4>

                    </div>
                    <div class="form_area">

                        <div class="col-lg-2">

                            <i class="fa fa-envelope" aria-hidden="true"></i>

                        </div>

                        <div class="col-lg-10">

                            <label>Email </label>

                            <p><a href="mailto:info@usbtu.org">info@usbtu.org</a>
                               , <a href="mailto:admin@usbtu.org">admin@usbtu.org</a>
                            </p>
                            <!-- <a href="#" data-toggle="modal" data-target=".email-modal">Informaitional Emails</a>
                            <div class="modal fade email-modal" tabindex="-1" role="dialog">

                                <div class="modal-dialog" role="document">

                                    <div class="modal-content">

                                        <div class="modal-header">

                                            <h3 class="modal-title">Informaitional Emails</h3>

                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                                                <span aria-hidden="true">&times;</span>

                                            </button>

                                        </div>

                                        <div class="modal-body">

                                            <div>

                                                <table class="table">

                                                    <thead>

                                                        <tr>

                                                            <th>Designation</th>

                                                            <th>Email</th>

                                                        </tr>

                                                    </thead>

                                                    <tbody>

                                                        <tr>

                                                            <td>

                                                                Admin

                                                            </td>

                                                            <td>

                                                                admin@usbtu.org


                                                            </td>

                                                        </tr>


                                                    </tbody>

                                                </table>

                                            </div>

                                        </div>

                                        <div class="modal-footer">

                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>

                                        </div>

                                    </div>

                                </div>

                            </div> -->

                        </div>

                        <div class="clearfix"></div>

                    </div>

                    <div class="form_area">

                        <div class="col-lg-2">

                            <i class="fa fa-university" aria-hidden="true"></i>

                        </div>

                        <div class="col-lg-10">

                            <label>Address </label>

                            <p>3000 Hempstead Tpke Levittown 11756</p>

                        </div>

                        <div class="clearfix"></div>

                    </div>



                    <div class="form_area">

                        <div class="col-lg-2">

                            <i class="fa fa-university" aria-hidden="true"></i>

                        </div>

                        <div class="col-lg-10">

                            <label>University Campus </label>

                            <p></p>


                        </div>

                        <div class="clearfix"></div>

                    </div>





                </div>

                <div class="col-lg-6">

                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.7070402968616!2d-73.52697082411632!3d40.72446527139176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c27e261c227d61%3A0x7c74895c49332c17!2s3000%20Hempstead%20Tpke%2C%20Levittown%2C%20NY%2011756%2C%20USA!5e0!3m2!1sen!2sin!4v1721926064145!5m2!1sen!2sin"
                        width="600" height="350" frameborder="0" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>

                </div>

            </div>

        </div>

    </div>

</div>