<section class="top-courses">
  <div class="container">
    <div class="courses-head-content">
      <h3 class="section-head">Our Course</h3>
      <p>
        Choose from 77+ undergraduate postgraduate courses in Management, Innovation, Science, Data, and
        more.
        <br>Gain new skills and earn a certificate of completion.
      </p>
    </div>
    <div class="card-slider">
      <div class="card card-style w-100" style="min-height:450px;max-height:450px">
        <img class="card-img-top" src="images/courses/bechalar-of-arts.jpg" alt="Bachelor of Arts">
        <div class="card-body">
          <h5 class="card-title card-title-style">Bachelor of Arts</h5>
          <p class="card-text">The Bachelor of Arts (B.A.) degree is an undergraduate postsecondary degree
            that puts a focus on liberal arts and studies. In comparison, a Bachelor </p>
          <div class="text-center-mob">
            <!--<a href="bachelor-of-arts">-->
            <a target="_blank" href="test.html">
              <button class="button-view-price"><span>Read More</span></button>
            </a>
          </div>
        </div>
      </div>
      <div class="card card-style w-100" style="min-height:450px;max-height:450px">
        <img class="card-img-top" src="images/courses/Bachelor-of-Science.png" alt="Bachelor of Science">
        <div class="card-body">
          <h5 class="card-title card-title-style">Bachelor of Science</h5>
          <p class="card-text">BSc or Four year certification in scientific studies is a college level of
            three years term which is all around presented across foundations and colle</p>
          <div class="text-center-mob">
            <!--<a href="bachelor-of-science">-->
            <a target="_blank" href="bachelor-of-science.html">
              <button class="button-view-price"><span>Read More</span></button>
            </a>
          </div>
        </div>
      </div>
      <div class="card card-style w-100" style="min-height:450px;max-height:450px">
        <img class="card-img-top" src="images/courses/Master-of-Science.jpg" alt="Master of Science">
        <div class="card-body">
          <h5 class="card-title card-title-style">Master of Science</h5>
          <p class="card-text">MSc, or master of science, is the complete form. In specialized science
            subjects like physics, biology, chemistry, mathematics, botany, biotechnology,</p>
          <div class="text-center-mob">
            <!--<a href="master-of-science">-->
            <a target="_blank" href="master-of-science.html">
              <button class="button-view-price"><span>Read More</span></button>
            </a>
          </div>
        </div>
      </div>
      <div class="card card-style w-100" style="min-height:450px;max-height:450px">
        <img class="card-img-top" src="images/courses/Bachelor-of-Commerce.jpg" alt="Bachelor of Commerce">
        <div class="card-body">
          <h5 class="card-title card-title-style">Bachelor of Commerce</h5>
          <p class="card-text">The Bachelor of Commerce degree is designed to provide students with a wide
            range of managerial skills, while building competence in a particular area</p>
          <div class="text-center-mob">
            <!--<a href="bachelor-of-commerce">-->
            <a target="_blank" href="bachelor-of-commerce.html">
              <button class="button-view-price"><span>Read More</span></button>
            </a>
          </div>
        </div>
      </div>
      <div class="card card-style w-100" style="min-height:450px;max-height:450px">
        <img class="card-img-top" src="images/courses/Bachelor-of-Business-Administration.jpg"
          alt="Bachelor of Business Administration">
        <div class="card-body">
          <h5 class="card-title card-title-style">Bachelor of Business Administration</h5>
          <p class="card-text">BBA full form is Bachelor of Business Administration. BBA is one of the
            most popular and sought-after bachelor's degree programs pursued by students a</p>
          <div class="text-center-mob">
            <!--<a href="bachelor-of-business-administration">-->
            <a target="_blank" href="bachelor-of-business-administration.html">
              <button class="button-view-price"><span>Read More</span></button>
            </a>
          </div>
        </div>
      </div>
      <div class="card card-style w-100" style="min-height:450px;max-height:450px">
        <img class="card-img-top" src="images/courses/Bachelor-of-Journalism.png"
          alt="Bachelor of Journalism & Mass Communication">
        <div class="card-body">
          <h5 class="card-title card-title-style">Bachelor of Journalism & Mass Communication</h5>
          <p class="card-text">BJMC (Lone ranger of News coverage and Mass Correspondence) is a three-year
            length college degree course for competitors who wish to fabricate their v</p>
          <div class="text-center-mob">
            <!--<a href="bachelor-of-journalism-and-mass-communication">-->
            <a target="_blank" href="bachelor-of-journalism-and-mass-communication.html">
              <button class="button-view-price"><span>Read More</span></button>
            </a>
          </div>
        </div>
      </div>
      <div class="card card-style w-100" style="min-height:450px;max-height:450px">
        <img class="card-img-top" src="images/courses/Bachelor-of-Journalism.png" alt="Bachelor of Business Management">
        <div class="card-body">
          <h5 class="card-title card-title-style">Bachelor of Business Management</h5>
          <p class="card-text">Bachelor of Business Management (BBM), sometimes known as a Bachelor of
            Management Studies,[1] is an undergraduate program of four years. The BBM degr</p>
          <div class="text-center-mob">
            <!--<a href="bachelor-of-business-management">-->
            <a target="_blank" href="bachelor-of-business-management.html">
              <button class="button-view-price"><span>Read More</span></button>
            </a>
          </div>
        </div>
      </div>
      <div class="card card-style w-100" style="min-height:450px;max-height:450px">
        <img class="card-img-top" src="images/courses/Bachelor-of-Journalism.png" alt="Master of Commerce">
        <div class="card-body">
          <h5 class="card-title card-title-style">Master of Commerce</h5>
          <p class="card-text">M.Com full structure Experts of business is a 2 years postgraduate course
            for competitors who need to seek after a lifelong in bookkeeping, banking, s</p>
          <div class="text-center-mob">
            <!--<a href="master-of-commerce">-->
            <a target="_blank" href="master-of-commerce.html">
              <button class="button-view-price"><span>Read More</span></button>
            </a>
          </div>
        </div>
      </div>
      <div class="card card-style w-100" style="min-height:450px;max-height:450px">
        <img class="card-img-top" src="images/courses/Bachelor-of-Journalism.png"
          alt="Master of Business Administration">
        <div class="card-body">
          <h5 class="card-title card-title-style">Master of Business Administration</h5>
          <p class="card-text">A Master of Business Administration (MBA; also Master's in Business
            Administration) is a postgraduate degree focused on business administration. The </p>
          <div class="text-center-mob">
            <!--<a href="master-of-business-administration">-->
            <a target="_blank" href="master-of-business-administration.html">
              <button class="button-view-price"><span>Read More</span></button>
            </a>
          </div>
        </div>
      </div>
      <div class="card card-style w-100" style="min-height:450px;max-height:450px">
        <img class="card-img-top" src="images/courses/Bachelor-of-Journalism.png" alt="Bachelor of Pharmacy">
        <div class="card-body">
          <h5 class="card-title card-title-style">Bachelor of Pharmacy</h5>
          <p class="card-text">A Bachelor of Pharmacy (abbreviated B Pharm or PharmB or BS Pharm) is a
            undergraduate academic degree in the field of pharmacy. In many countries, thi</p>
          <div class="text-center-mob">
            <!--<a href="bachelor-of-pharmcy">-->
            <a target="_blank" href="bachelor-of-pharmcy.html">
              <button class="button-view-price"><span>Read More</span></button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="facilities-section">
  <div class="container">
    <div class="facilities-content">
      <h3 class="section-head">Our Facilities</h3>
      <p class="p-md">Everything is in one place. Facilities across our campus give you the chance to pursue your
        interests and meet people from across the University.</p>
    </div>
    <ul class="facilities-ul">
      <li>
        <img src="images/facilities/bus.png" class="grey-img">
        Transport Facility
      </li>
      <li>
        <img src="images/facilities/playground.png" class="grey-img">
        Play Ground
      </li>
      <li>
        <img src="images/facilities/hostel.png" class="grey-img">
        Hostel
      </li>
      <li>
        <img src="images/facilities/wifi.png" class="grey-img">
        Wifi Campus
      </li>
      <li>
        <img src="images/facilities/computer-science.png" class="grey-img">
        Computer Lab
      </li>
      <li>
        <img src="images/facilities/atm-machine.png" class="grey-img">
        ATM Facility
      </li>
      <li>
        <img src="images/facilities/bookshelf.png" class="grey-img">
        Central Library
      </li>
      <li>
        <img src="images/facilities/repair-shop.png" class="grey-img">
        Workshop
      </li>
      <li>
        <img src="images/facilities/activity.png" class="grey-img">
        Extra Curricular Activities
      </li>
      <li>
        <img src="images/facilities/cafeteria.png" class="grey-img">
        Cafeteria
      </li>
      <li>
        <img src="images/facilities/music.png" class="grey-img">
        Music Room
      </li>
      <li>
        <img src="images/facilities/audience.png" class="grey-img">
        Auditorium
      </li>
    </ul>
  </div>
</section>


<section class="why-choose-section">
  <div class="uni_welcome_box">
    <div class="why-choose-content">
      <h3 class="section-head">Why Bir Tikendrajit University?</h3>
      <p class="p-md">BIR TIKENDRAJIT UNIVERSITY has always endeavored to deliver quality education in a globally
        benchmarked hi-tech learning environment that facilitates the ardent pursuit of excellence through education and
        beyond, in letter and spirit. </p>
    </div>
    <div class="">
      <div class="col-lg-6">
        <div class="uni_welcome_left">
          <!-- <h2>Why <span class="">BIR TIKENDRAJIT UNIVERSITY?</span></h2> -->
          <ul>
            <li>
              <div class="uni_wel_list">
                <div class="uni_circle"></div>
                <div class="uni_info">
                  <h6>Vision<h6>
                      <p>
                      <p>Bir Tikendrajit University will have a trans formative impact on
                        society through continual innovation in education, research, and
                        creativity.</p>
                      </p>
                </div>
              </div>
            </li>
            <li>
              <div class="uni_wel_list">
                <div class="uni_circle"></div>
                <div class="uni_info">
                  <h6> Campus <h6>
                      <p>
                      <p>Bir Tikendrajit University with its future-ready, sprawling campus, a
                        world - class learning infrastructure. The campus facilitates
                        all-round growth of students.</p>
                      </p>
                </div>
              </div>
            </li>
            <li>
              <div class="uni_wel_list">
                <div class="uni_circle"></div>
                <div class="uni_info">
                  <h6>Expertise staff<h6>
                      <p>Particularly through more coordinated and tailored attention to building
                        the leadership skills necessary to meet the goals of the University.</p>
                </div>
              </div>
            </li>
            <li style="height: 160px;">
              <div class="uni_wel_list">
                <div class="uni_circle"></div>
                <div class="uni_info">
                  <h6>Education <h6>
                      <p>The education provided by our university in order to prepare students to
                        work in various sectors. The totality of general and specialised
                        knowledge and skills that enable a university graduate to solve problems
                        that he encounters in industry or to perform scientific research or
                        pedagogical work within the area of specialised knowledge that he has
                        acquired.</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="awards-section-slider">
          <h4 class="awards-title">Awards</h4>
          <div class="owl-carousel carousel-awards">
            <div class="slide-box"><a href="awards.html">
                <div class=""><img src="images/awards/award-2.png" alt="category-icon" />
                </div>
              </a>
            </div>
            <div class="slide-box"><a href="awards.html">
                <div class=""><img src="images/awards/award-2.png" alt="category-icon" />
                </div>
              </a>
            </div>
            <div class="slide-box"><a href="awards.html">
                <div class=""><img src="images/awards/award-2.png" alt="category-icon" />
                </div>
              </a>
            </div>

          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
</section>