<div class="elementor-container elementor-column-gap-default">
	<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-49ba8c8f"
		data-id="49ba8c8f" data-element_type="column">
		<div class="elementor-widget-wrap elementor-element-populated">
			<div class="elementor-element elementor-element-56005f38 elementor-widget elementor-widget-heading"
				data-id="56005f38" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">What is Marketing and Sales?</h2>
				</div>
			</div>
			<div class="elementor-element elementor-element-5a4f430b elementor-widget elementor-widget-text-editor"
				data-id="5a4f430b" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<p>Marketing refers to the set of activities to promote a product or service, according to the needs
						and expectations of the client. Sales, on the other hand, are the actions to encourage customers
						to make a certain purchase.</p>
				</div>
			</div>
			<div class="elementor-element elementor-element-7448b3bc elementor-widget elementor-widget-heading"
				data-id="7448b3bc" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Competences to be acquired</h2>
				</div>
			</div>
			<div class="elementor-element elementor-element-760bd43a elementor-widget elementor-widget-text-editor"
				data-id="760bd43a" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<p>Graduates of this program will apply key disciplinary skills as business professionals to
						critical business problems in finance, marketing, information systems, research methodologies,
						economics, business law, management, and accounting.</p>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="elementor-container elementor-column-gap-default">
	<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-4b14e4f0"
		data-id="4b14e4f0" data-element_type="column">
		<div class="elementor-widget-wrap elementor-element-populated">
			<section data-particle_enable="false" data-particle-mobile-disabled="false"
				class="elementor-section elementor-inner-section elementor-element elementor-element-6280c712 elementor-section-boxed elementor-section-height-default elementor-section-height-default animated fadeInLeft"
				data-id="6280c712" data-element_type="section"
				data-settings="{&quot;animation&quot;:&quot;fadeInLeft&quot;}">
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-790acbd0"
						data-id="790acbd0" data-element_type="column"
						data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-5274c217 elementor-widget elementor-widget-heading"
								data-id="5274c217" data-element_type="widget" data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<h4 class="elementor-heading-title elementor-size-default">Why study Marketing and
										Sales?</h4>
								</div>
							</div>
							<div class="elementor-element elementor-element-5d67ac66 elementor-widget elementor-widget-text-editor"
								data-id="5d67ac66" data-element_type="widget" data-widget_type="text-editor.default">
								<div class="elementor-widget-container">
									<p>Marketing studies provide a unique competitive advantage: learning to promote
										yourself and your work. After all, marketing studies help to understand the true
										meaning of value: the value of the product and the value of the person or brand
										that delivers that product.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-3e4681f7"
		data-id="3e4681f7" data-element_type="column">
		<div class="elementor-widget-wrap elementor-element-populated">
			<section data-particle_enable="false" data-particle-mobile-disabled="false"
				class="elementor-section elementor-inner-section elementor-element elementor-element-5171450d elementor-section-boxed elementor-section-height-default elementor-section-height-default animated fadeInRight"
				data-id="5171450d" data-element_type="section"
				data-settings="{&quot;animation&quot;:&quot;fadeInRight&quot;}">
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-7180f8ea"
						data-id="7180f8ea" data-element_type="column"
						data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-6d9f12a4 elementor-widget elementor-widget-heading"
								data-id="6d9f12a4" data-element_type="widget" data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<h4 class="elementor-heading-title elementor-size-default">What do I need to study
										Marketing and Sales?</h4>
								</div>
							</div>
							<div class="elementor-element elementor-element-6c6d7034 elementor-widget elementor-widget-text-editor"
								data-id="6c6d7034" data-element_type="widget" data-widget_type="text-editor.default">
								<div class="elementor-widget-container">
									<p>To study for a degree in Marketing and Sales, you need to have finished high
										school.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>

<div class="elementor-widget-wrap elementor-element-populated">
	<div class="elementor-element elementor-element-926981f elementor-widget elementor-widget-heading" data-id="926981f"
		data-element_type="widget" data-widget_type="heading.default">
		<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Possible jobs</h2>
		</div>
	</div>
	<div class="elementor-element elementor-element-7d073a79 elementor-widget elementor-widget-text-editor"
		data-id="7d073a79" data-element_type="widget" data-widget_type="text-editor.default">
		<div class="elementor-widget-container">
			<p><strong>: </strong>In marketing agencies, public relations agencies, advertising agencies, market
				research areas or teams, or big data departments, etc.</p>
		</div>
	</div>
	<div class="elementor-element elementor-element-57a1c2e elementor-widget elementor-widget-heading" data-id="57a1c2e"
		data-element_type="widget" data-widget_type="heading.default">
		<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Courses</h2>
		</div>
	</div>
</div>


<div class="elementor-widget-wrap elementor-element-populated">
	<div class="elementor-element elementor-element-8b38387 elementor-widget elementor-widget-heading" data-id="8b38387"
		data-element_type="widget" data-widget_type="heading.default">
		<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">General Education Requirements</h2>
		</div>
	</div>
	<div class="elementor-element elementor-element-04a87d9 elementor-hidden-mobile elementor-widget elementor-widget-image"
		data-id="04a87d9" data-element_type="widget" data-widget_type="image.default">
		<div class="elementor-widget-container">
			<img decoding="async" width="1080" height="277"
				src="https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/bchelor-basics.png?lossy=1&amp;strip=1&amp;webp=1"
				class="attachment-full size-full wp-image-4521 entered lazyloaded" alt=""
				data-lazy-srcset="https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/bchelor-basics.png?lossy=1&amp;strip=1&amp;webp=1 1080w, https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/bchelor-basics-300x77.png?lossy=1&amp;strip=1&amp;webp=1 300w, https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/bchelor-basics-1024x263.png?lossy=1&amp;strip=1&amp;webp=1 1024w, https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/bchelor-basics-768x197.png?lossy=1&amp;strip=1&amp;webp=1 768w"
				data-lazy-sizes="(max-width: 1080px) 100vw, 1080px"
				data-lazy-src="https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/bchelor-basics.png?lossy=1&amp;strip=1&amp;webp=1"
				data-ll-status="loaded" sizes="(max-width: 1080px) 100vw, 1080px"
				srcset="https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/bchelor-basics.png?lossy=1&amp;strip=1&amp;webp=1 1080w, https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/bchelor-basics-300x77.png?lossy=1&amp;strip=1&amp;webp=1 300w, https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/bchelor-basics-1024x263.png?lossy=1&amp;strip=1&amp;webp=1 1024w, https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/bchelor-basics-768x197.png?lossy=1&amp;strip=1&amp;webp=1 768w"><noscript><img
					loading="lazy" decoding="async" width="1080" height="277"
					src="https://www.mbtu.us/wp-content/uploads/2023/06/bchelor-basics.png"
					class="attachment-full size-full wp-image-4521" alt=""
					srcset="https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/bchelor-basics.png?lossy=1&amp;strip=1&amp;webp=1 1080w, https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/bchelor-basics-300x77.png?lossy=1&amp;strip=1&amp;webp=1 300w, https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/bchelor-basics-1024x263.png?lossy=1&amp;strip=1&amp;webp=1 1024w, https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/bchelor-basics-768x197.png?lossy=1&amp;strip=1&amp;webp=1 768w"
					sizes="(max-width: 1080px) 100vw, 1080px" /></noscript>
		</div>
	</div>
	<div class="elementor-element elementor-element-4ad6df9 elementor-hidden-desktop elementor-hidden-tablet elementor-widget elementor-widget-image"
		data-id="4ad6df9" data-element_type="widget" data-widget_type="image.default">
		<div class="elementor-widget-container">
			<img decoding="async" width="1080" height="995"
				src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201080%20995'%3E%3C/svg%3E"
				class="attachment-full size-full wp-image-4504" alt=""
				data-lazy-srcset="https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/basic-health-m.png?lossy=1&amp;strip=1&amp;webp=1 1080w, https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/basic-health-m-300x276.png?lossy=1&amp;strip=1&amp;webp=1 300w, https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/basic-health-m-1024x943.png?lossy=1&amp;strip=1&amp;webp=1 1024w, https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/basic-health-m-768x708.png?lossy=1&amp;strip=1&amp;webp=1 768w"
				data-lazy-sizes="(max-width: 1080px) 100vw, 1080px"
				data-lazy-src="https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/basic-health-m.png?lossy=1&amp;strip=1&amp;webp=1"><noscript><img
					loading="lazy" decoding="async" width="1080" height="995"
					src="https://www.mbtu.us/wp-content/uploads/2023/06/basic-health-m.png"
					class="attachment-full size-full wp-image-4504" alt=""
					srcset="https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/basic-health-m.png?lossy=1&amp;strip=1&amp;webp=1 1080w, https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/basic-health-m-300x276.png?lossy=1&amp;strip=1&amp;webp=1 300w, https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/basic-health-m-1024x943.png?lossy=1&amp;strip=1&amp;webp=1 1024w, https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/basic-health-m-768x708.png?lossy=1&amp;strip=1&amp;webp=1 768w"
					sizes="(max-width: 1080px) 100vw, 1080px" /></noscript>
		</div>
	</div>
	<section data-particle_enable="false" data-particle-mobile-disabled="false"
		class="elementor-section elementor-inner-section elementor-element elementor-element-09b818c elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default"
		data-id="09b818c" data-element_type="section">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-97c7202"
				data-id="97c7202" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-2c83676 elementor-widget elementor-widget-text-editor"
						data-id="2c83676" data-element_type="widget" data-widget_type="text-editor.default">
						<div class="elementor-widget-container">
							<ul>
								<li>Introduction to Calculus</li>
								<li>Introduction to statistics</li>
								<li>History of Art</li>
								<li>English Composition</li>
								<li>Intercultural Communication</li>
								<li>Oral and written communications abilities</li>
								<li>General Biology</li>
								<li>Western Civilizations</li>
								<li>Equality &amp; Inequality</li>
								<li>Environmental Sciences</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="elementor-element elementor-element-d4a99ed elementor-widget elementor-widget-heading" data-id="d4a99ed"
		data-element_type="widget" data-widget_type="heading.default">
		<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Professional Courses</h2>
		</div>
	</div>
	<div class="elementor-element elementor-element-0b9a34f elementor-hidden-mobile elementor-widget elementor-widget-image"
		data-id="0b9a34f" data-element_type="widget" data-widget_type="image.default">
		<div class="elementor-widget-container">
			<img decoding="async" width="1080" height="741"
				src="https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/bac-mkt-sales.png?lossy=1&amp;strip=1&amp;webp=1"
				class="attachment-full size-full wp-image-4572 entered lazyloaded" alt=""
				data-lazy-srcset="https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/bac-mkt-sales.png?lossy=1&amp;strip=1&amp;webp=1 1080w, https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/bac-mkt-sales-300x206.png?lossy=1&amp;strip=1&amp;webp=1 300w, https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/bac-mkt-sales-1024x703.png?lossy=1&amp;strip=1&amp;webp=1 1024w, https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/bac-mkt-sales-768x527.png?lossy=1&amp;strip=1&amp;webp=1 768w"
				data-lazy-sizes="(max-width: 1080px) 100vw, 1080px"
				data-lazy-src="https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/bac-mkt-sales.png?lossy=1&amp;strip=1&amp;webp=1"
				data-ll-status="loaded" sizes="(max-width: 1080px) 100vw, 1080px"
				srcset="https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/bac-mkt-sales.png?lossy=1&amp;strip=1&amp;webp=1 1080w, https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/bac-mkt-sales-300x206.png?lossy=1&amp;strip=1&amp;webp=1 300w, https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/bac-mkt-sales-1024x703.png?lossy=1&amp;strip=1&amp;webp=1 1024w, https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/bac-mkt-sales-768x527.png?lossy=1&amp;strip=1&amp;webp=1 768w"><noscript><img
					loading="lazy" decoding="async" width="1080" height="741"
					src="https://www.mbtu.us/wp-content/uploads/2023/06/bac-mkt-sales.png"
					class="attachment-full size-full wp-image-4572" alt=""
					srcset="https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/bac-mkt-sales.png?lossy=1&amp;strip=1&amp;webp=1 1080w, https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/bac-mkt-sales-300x206.png?lossy=1&amp;strip=1&amp;webp=1 300w, https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/bac-mkt-sales-1024x703.png?lossy=1&amp;strip=1&amp;webp=1 1024w, https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/bac-mkt-sales-768x527.png?lossy=1&amp;strip=1&amp;webp=1 768w"
					sizes="(max-width: 1080px) 100vw, 1080px" /></noscript>
		</div>
	</div>
	<div class="elementor-element elementor-element-ab2cdc8 elementor-hidden-desktop elementor-hidden-tablet elementor-widget elementor-widget-image"
		data-id="ab2cdc8" data-element_type="widget" data-widget_type="image.default">
		<div class="elementor-widget-container">
			<img decoding="async" width="1080" height="3111"
				src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201080%203111'%3E%3C/svg%3E"
				class="attachment-full size-full wp-image-4583" alt=""
				data-lazy-srcset="https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/bac-mkt-sales-m.png?lossy=1&amp;strip=1&amp;webp=1 1080w, https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/bac-mkt-sales-m-104x300.png?lossy=1&amp;strip=1&amp;webp=1 104w, https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/bac-mkt-sales-m-355x1024.png?lossy=1&amp;strip=1&amp;webp=1 355w, https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/bac-mkt-sales-m-768x2212.png?lossy=1&amp;strip=1&amp;webp=1 768w, https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/bac-mkt-sales-m-533x1536.png?lossy=1&amp;strip=1&amp;webp=1 533w, https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/bac-mkt-sales-m-711x2048.png?lossy=1&amp;strip=1&amp;webp=1 711w"
				data-lazy-sizes="(max-width: 1080px) 100vw, 1080px"
				data-lazy-src="https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/bac-mkt-sales-m.png?lossy=1&amp;strip=1&amp;webp=1"><noscript><img
					loading="lazy" decoding="async" width="1080" height="3111"
					src="https://www.mbtu.us/wp-content/uploads/2023/06/bac-mkt-sales-m.png"
					class="attachment-full size-full wp-image-4583" alt=""
					srcset="https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/bac-mkt-sales-m.png?lossy=1&amp;strip=1&amp;webp=1 1080w, https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/bac-mkt-sales-m-104x300.png?lossy=1&amp;strip=1&amp;webp=1 104w, https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/bac-mkt-sales-m-355x1024.png?lossy=1&amp;strip=1&amp;webp=1 355w, https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/bac-mkt-sales-m-768x2212.png?lossy=1&amp;strip=1&amp;webp=1 768w, https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/bac-mkt-sales-m-533x1536.png?lossy=1&amp;strip=1&amp;webp=1 533w, https://b2129094.smushcdn.com/2129094/wp-content/uploads/2023/06/bac-mkt-sales-m-711x2048.png?lossy=1&amp;strip=1&amp;webp=1 711w"
					sizes="(max-width: 1080px) 100vw, 1080px" /></noscript>
		</div>
	</div>

	<h2 class="elementor-heading-title elementor-size-default">Courses</h2>
	
	<section data-particle_enable="false" data-particle-mobile-disabled="false"
		class="elementor-section elementor-inner-section elementor-element elementor-element-c7dd047 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default"
		data-id="c7dd047" data-element_type="section">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-5e06bc9"
				data-id="5e06bc9" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-9bb74a0 elementor-widget elementor-widget-text-editor"
						data-id="9bb74a0" data-element_type="widget" data-widget_type="text-editor.default">
						<div class="elementor-widget-container">
							<ul>
								<li>Principles of Accounting I</li>
								<li>Principles of Accounting I Lab</li>
								<li>Principles of Microeconomics</li>
								<li>Legal environment of Business</li>
								<li>Principles of Business Management</li>
								<li>Principles of Marketing</li>
								<li>Product and Pricing Strategies</li>
								<li>International Marketing</li>
								<li>Sales, Advertising and Promotions</li>
								<li>Consumer Behavior</li>
								<li>Marketing Analytics</li>
								<li>Digital Marketing</li>
								<li>Introduction to Lean Start Up</li>
								<li>Business Communication</li>
								<li>Social Responsibility</li>
								<li>Introduction to Managing Conflict and Bargaining</li>
								<li>Foreign trade</li>
								<li>Entrepreneurships</li>
								<li>Management support systems</li>
								<li>Project management</li>
								<li>Organization and management</li>
								<li>Operation Management</li>
								<li>Professional ethics</li>
								<li>Computational mathematics</li>
								<li>Strategic management</li>
								<li>International organizations</li>
								<li>Marketing communications</li>
								<li>Social Media Marketing</li>
								<li>Marketing and Society</li>
								<li>Cost analysis and applications</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>



<ul>
<li>Principles of Accounting I</li>
<li>Principles of Accounting I Lab</li>
<li>Principles of Microeconomics</li>
<li>Legal environment of Business</li>
<li>Principles of Business Management</li>
<li>Principles of Marketing</li>
<li>Product and Pricing Strategies</li>
<li>International Marketing</li>
<li>Sales, Advertising and Promotions</li>
<li>Consumer Behavior</li>
<li>Marketing Analytics</li>
<li>Digital Marketing</li>
<li>Introduction to Lean Start Up</li>
<li>Business Communication</li>
<li>Social Responsibility</li>
</ul>

<ul>
<li>Introduction to Managing Conflict and Bargaining</li>
<li>Foreign trade</li>
<li>Entrepreneurships</li>
<li>Management support systems</li>
<li>Project management</li>
<li>Organization and management</li>
<li>Operation Management</li>
<li>Professional ethics</li>
<li>Computational mathematics</li>
<li>Strategic management</li>
<li>International organizations</li>
<li>Marketing communications</li>
<li>Social Media Marketing</li>
<li>Marketing and Society</li>
<li>Cost analysis and applications</li>
</ul>

