<!-- templates/footer.html -->
<div class="uni_section_footer">
  <div class="clearfix"></div>
  <div class="uni_section_footer_main">
    <div class="row">
      <div class="col-md-3 col-sm-3 about_bir">
        <h3>US BIR TIKENDRAJIT UNIVERSITY</h3>
        <p>US Bir Tikendarjit University, Manipur is established by the Manipur Government as an Act No. 9 of 2020 and
          under u/s 2(f) of UGC act 1956.</p>
      </div>
      <div class="col-md-3 col-sm-3">
        <h3>Quick Links</h3>

        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="about-us">About Us</a></li>
          <li><a href="courses"> Courses</a></li>
          <li><a href="contact-us"> Contact Us</a></li>
          <!-- <li><a href="terms-and-conditions"> Terms and Conditions</a></li>
          <li><a href="privacy-policy"> Privacy & Policy</a></li>
          <li><a href="refund-policy"> Refund Policy</a></li> -->
        </ul>
      </div>
      <div class="col-md-3 col-sm-3">
        <h3>Virtual Campus link</h3>
        <ul>
          <li><a href="https://www.unmultimedia.org/avlibrary/" target="_blank">UN News & Media</a></li>
          <li><a href="https://ndl.iitkgp.ac.in/" target="_blank">National Digital Library of India</a></li>
          <li><a href="https://www.oeconsortium.org/members/view/827/" target="_blank">We are a member of The Open
              Education Consortium | The Global Network for Open Education</a></li>
        </ul>
      </div>

      <div class="col-md-3 col-sm-3 address_uni">
        <h3>Reach Us</h3>
        <p>3000 Hempstead Tpke Levittown 11756</p>
        <h5>Email : - info@usbtu.org, 
          admin@usbtu.org
         </h5>
        <!-- <ul class="footer_social">
          <li><a target="_blank" href="https://www.facebook.com/">

              <i class="fa-brands fa-facebook-f"></i></a></li>
          <li><a target="_blank" href="https://www.instagram.com">
              <i class="fa-brands fa-instagram"></i></a></li>
          <li><a target="_blank" href="https://twitter.com/BirUniversity"><i class="fa-brands fa-twitter"></i></a>
          </li>
          <li><a target="_blank" href="https://www.linkedin.com/company"><i class="fa-brands fa-linkedin-in"></i></a>
          </li>

        </ul> -->

      </div>
    </div>
  </div>
</div>
<div class="uni_section_footer_btm">
  © 2024 UNITED STATES BIR TIKENDRAJIT UNIVERSITY | ALL RIGHTS RESERVED
</div>