<div class="nav_bar_area">

  <button class="top-btn-container " ng-click="toggleMenu()"> <i class="fa-solid fa-bars first-menubar mobilemenuicon"></i> </button>
  <div class="mobilemenu" ng-class="{ 'active': menuOpen }" >
    <ul >
      <li ng-click="closeMenu()"><a href="/">Home</a></li>
      <li ng-click="closeMenu()"><a href="about-us">About Us</a></li>
      <li ng-click="closeMenu()"><a href="courses">Courses</a></li>
      <li ng-click="closeMenu()"><a href="contact-us">Contact us</a></li>
      <li ng-click="closeMenu()"><a target="_blank" href="/">Brochure</a>
      </li>
      <li ng-click="closeMenu()"><a target="_blank" href="https://www.birtikendrajituniversity.ac.in/student-corner/">Student Login</a>
      </li>
      <!-- <li ng-click="closeMenu()"><a target="_blank" href="https://www.birtikendrajituniversity.ac.in/center-access">C C Login</a>
      </li>
      <li ng-click="closeMenu()"><a target="_blank" href="https://www.birtikendrajituniversity.ac.in/erp-access">Employee Login</a>
      </li> -->
      <li ng-click="closeMenu()"><a target="_blank" href="https://www.birtikendrajituniversity.ac.in/faculty_login">Faculty Login</a>
      </li>


    </ul>
  </div>

  <div class="header_area ">
    <div class="container">
      <div class="row first-head-row">

        <div class="sidebar-tagline 123">
          <h5>Welcome To Bir Tikendrajit University</h5>
          <p>Complete Learning Management <br>Solution Process</p>
        </div>

        <div class="col-lg-4 col-md-3 bir_logo">
          <a href="/">
            <img src="images/logo/logo.png">
            <h4>Bir Tikendrajit University </h4>
            <p>Complete Learning Management <br>Solution Process</p>
          </a>
        </div>
        <div class="col-lg-8 col-md-9 p-0 res-size">
          <div class="show-first-menu">



            <ul class="nav navbar-nav navbar-right top-side-menu">

              <li class="call-container" style="display:none">
                <div class="header-call"> <i class="fa-solid fa-headset header-menu-img-res"></i>
                </div> <a class="call-an" href="tel:-"> +1 5163081233 </a>
              </li>
            </ul>

            <ul class="nav navbar-nav top-side-menu navbar-right">
              <li class="active">
                <a href="https://www.birtikendrajituniversity.ac.in/student-corner/" target="_blank">
                  <div>
                    <img src="images/header/employee-log.png" class="header-menu-img" alt="USBTU">
                  </div>
                  <div class="top-h-title"> Student Login </div>
                </a>
              </li>
              <!-- <li>
                <a href="https://www.birtikendrajituniversity.ac.in/center-access" target="_blank">
                  <div>
                    <img src="images/header/school-2.png" class="header-menu-img" alt="USBTU">
                  </div>
                  <div class="top-h-title"> C C Login </div>
                </a>
              </li>
              <li>
                <a href="https://www.birtikendrajituniversity.ac.in/erp-access" target="_blank">
                  <div>
                    <img src="images/header/employee-log.png" class="header-menu-img" alt="USBTU">
                  </div>
                  <div class="top-h-title"> Employee Login </div>
                </a>
              </li> -->
              <li>
                <a href="https://www.birtikendrajituniversity.ac.in/faculty_login" target="_blank">
                  <div>
                    <img src="images/header/college.png" class="header-menu-img" alt="USBTU">
                  </div>
                  <div class="top-h-title"> Faculty Login </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="header_Area">
      <div class="uni_mainWrapper_right_overlay">
        <div class="uni_header_menu">
          <div class="welcome-header">Welcome To United States Bir Tikendrajit University</div>
          <div class="container">
            <div class="row">
              <div class="nav_bar" style="display:none"><i class="fa-solid fa-caret-down second-menubar"></i> </div>
              <ul class="uni_header_menu_main" style="float: right;">
                <li><a href="/">Home</a></li>
                <li><a href="/about-us">About Us</a></li>
                <li><a href="/courses">Courses</a></li>
                <li><a href="/contact-us">Conatct us</a></li>
                <li><a target="_blank" href="/">Brochure</a>
                </li>
                <!-- <li class="mob_help_desk">Helpline Number : <a href="tel:+918810588341">8810588341</a> |
                  (10 AM to 5 PM)</li> -->

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="uni_news_media" is-home-page="isHomePage">
    <div class="uni_latest_marques">
      <marquee onmouseover="this.stop();" onmouseout="this.start();">
        Is UGC degree valid in USA?
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Degrees that are offered by an Indian institution having a National Assessment and Accreditation Council score
        of at least 3.01 or above are valid abroad. Some of the famous countries that consider UGC-approved degrees as
        valid are the USA, the UK, Canada, Australia, Germany, New Zealand, UAE, and more.
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Is WES accepted in the USA?
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        WES evaluations are recognized and accepted by universities, licensing boards, government agencies and employers
        throughout the U.S. WES is the largest and among the oldest of the evaluation services the U.S. Each year, WES prepares evaluations for approximately 50,000 individuals from all over the world.
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        For admissions and more information contact : info@usbtu.org
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </marquee>
    </div>
  </div>

</div>